
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img__menu {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 5rem;
  background-color: rgba(248, 250, 252,0.5);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.header__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
}

.header__link {
  color: var(--clr-dark);
}


.header__svg {
  min-height: var(--size-2xl);
  min-width: var(--size-2xl);
  width: var(--size-2xl);
  height: var(--size-2xl);
  transition: transform 0.3s, filter 0.3s;
}

.header__svg {
  &:hover {
    transform: translateY(-1.5px);
  filter: drop-shadow(2px 5px 20px rgb(2, 6, 23)) ;
  }
}

/* xs */
@media (min-width: 475px) {
 
}

/* sm */
@media (min-width: 640px) {
  
}

/* md */
@media (min-width: 768px) {
  .img__menu {
    display: flex;
    min-height: var(--size-2xl);
  min-width: var(--size-2xl);
  width: var(--size-2xl);
  height: var(--size-2xl);
  }
}

/* lg */
@media (min-width: 1024px) {
 .header__menu {
  gap: 12em;
 }
}

/* xl */
@media (min-width: 1280px) {
  
}

/* 2xl */
@media (min-width: 1536px) {
  
} 